{
  "extends": [
    "airbnb",
    "plugin:ava/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "ava"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "es6": true,
      "forOf": true,
      "blockBindings": true,
      "arrowFunctions": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "generators": true,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "experimentalObjectRestSpread": true,
      "experimentalDecorators": false
    }
  },
  "rules": {
     "comma-dangle": [1, "always-multiline"],
     "no-underscore-dangle" : 0,
     "max-len": [1, 180, 4],
     "arrow-body-style": [0],
     "react/jsx-no-bind": [0],
     "import/no-unresolved": [0],
     "padded-blocks": "off",
     "space-before-function-paren": "off",
     "no-use-before-define":"off"
  }
}
